.header-enter {
  opacity: 0;
  transform: scaleY(0.2);
}

.header-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: 500ms;
}

/* .header-exit {
  opacity: 1;
}

.header-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: transform 3s, opacity 3s;
} */
